main  
    padding:0 5px
.container
    display flex
    max-width desktop
    margin: 5px auto;
    padding: $padding
    background: $white

.container__list
    flex-basis: 100%
// *** обший класса
.flex-row 
.flex-column 
    display flex
    justify-content: center
    align-items: center

// .flex-row 

.flex-column 
    flex-direction: column

// ### обший класса
 // *** test
// div
// .header
// section
//     border (2px) solid black
// ### test
body 
    background: #abb8c3;

header
    .container
        background: transparent
        
h1, h2, h3, h4, h5, h6, a, li, p, button, .title 
    font-family: goodPro
    font-style: normal
    line-height: 1em
    font-weight: normal
h1, h2 
    margin: 30px auto;

h2,h3
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: $p5
    line-height: $p5

p
    line-height: $p5
ul
    all:unset

    li
        list-style: none

img
    max-width: 100%

button
.button
    padding: 0px 20px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-radius: 2px
    height: 40px
    font-size: 1em
    border:unset
    background $blue
    color $white
    margin: 15px 0 

.button:hover
button:hover
    fill-opacity: .5
a
    text-decoration: none;
    color inherit;

input
    height 50px


@media screen and (max-width: desktop) {}
@media screen and (max-width: mobile5) {}
@media screen and (max-width: mobile4) {}
@media screen and (max-width: mobile3) {}
@media screen and (max-width: mobile2) {}
@media screen and (max-width: mobile1) {}
@media screen and (max-width: mobile) {}

