/* root */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
.container {
  display: flex;
  max-width: 1200px;
  display: block;
  margin: 5px auto;
  padding: 50px;
  background: #fff;
}
.container__list {
  flex-basis: 100%;
}
.flex-row,
.flex-column {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
body {
  background: #abb8c3;
}
header .container {
  background: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
p,
button,
.title {
  font-family: "goodPro";
  font-style: normal;
  line-height: 1em;
}
h1 {
  margin-bottom: 30px;
}
.title,
h2 {
  text-align: center;
  text-transform: uppercase;
  margin: 30px auto;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.5em;
}
ul {
  all: unset;
}
ul li {
  list-style: none;
}
img {
  max-width: 100%;
}
button,
.button {
  margin: 0px;
  padding: 0px 20px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-radius: 2px;
  color: inherit;
  height: 40px;
  font-size: 1em;
  border: unset;
  background: #119ff7;
  color: #fff;
  margin: 15px 0;
}
.button:hover,
button:hover {
  fill-opacity: 0.5;
}
a {
  text-decoration: none;
  color: inherit;
}
input {
  height: 50px;
}
/* part */
.offer {
  display: flex;
  flex-direction: column;
}
.offer__portfolio {
  display: flex;
  flex-direction: column;
}
.offer__top {
  display: flex;
  margin: 10px 0;
}
.offer__top div {
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 1;
}
.offer__right p {
  font-size: 1.2em;
  display: block;
  margin: 15px 0;
  line-height: 1.5em;
}
.offer__right b {
  font-weight: 500;
}
.offer__right strong {
  font-weight: 500;
  display: block;
  margin: 15px 0;
}
.offer__right button {
  background: #fff;
  border: 1px solid #119ff7;
  color: #119ff7;
}
.offer__right button:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  background: #119ff7;
  width: 100%;
  height: 100%;
  transition: top 1s;
}
.offer__right button:hover button:after:hover {
  top: 0;
}
.offer__bottom {
  display: grid;
  grid-template-columns: auto auto;
  margin: 10px 0;
}
.offer__bottom__block {
  margin: 5px 0;
}
.partfolio__text {
  margin: 10px 0;
  font-size: 1.5em;
}
@media screen and (max-width: 1200px) {
  .offer__block .container {
    padding: 15px;
  }
}
@media screen and (max-width: 768px) {
  .offer__top {
    flex-direction: column;
  }
}
@media screen and (max-width: 510px) {
  .offer__bottom {
    grid-template-columns: auto;
  }
}
