.benefit, .way__list__icon,
.way__list__subscribe, 
.way__list__icon, .way__list, .benefit__way
    display flex
    justify-content: center;
    align-items: center; 

.benefit
    flex-direction: column
    background $blackBlue
    color $white

.benefit__way
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 60px 10px;
    margin-top: 50px;

    .way__list
        flex-direction: column

    img
        display: flex
        max-width: 80%
        height: 100px
        
.way__list__icon
    span 
        font-size: 4em

.way__list__subscribe
    text-align center
    margin: 20px 0;

    p
        font-size: $p2
        line-height: $p5
        text-size-adjust: 100%

.squery
    position relative
    top -11px

    .container
        padding: unset !important
    
@media screen and (max-width: desktop)
    .benefit__block
        .container
            padding:$padding-desktop

@media screen and (max-width: mobile3) 
    .benefit__block
        .container
            padding:0
    .benefit__way
        grid-template-columns: auto auto;
    
    .way__list
        flex-basis: (100% / 2)

    .way__list__icon
        img
            max-width: 60%;
            height: auto;

@media screen and (max-width: mobile2) 
    .benefit__way
        grid-template-columns: auto;

@media screen and (max-width: mobile)
    .way__list__subscribe
        p
            font-size: .9em
@media screen and (max-width: mobile0)
    .benefit__title
    .way__list__subscribe
        p
            font-size: .5em