.copy__block
    display flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap 25px
    div  
        div
            display flex
            justify-content: center
            align-items: center
.copy__text__content
    text-align center

.copy__title
    h3
        font-size: 1em