.header_bg
    background-position: center;
    background-repeat: no-repeat
    background-size: cover;
    height: 800px;
    position: absolute
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;

.block_header
    .block_header__left
    .block_header__right
        flex-basis: auto
        flex-grow: 1
        flex-shrink: 1
        gap 5px

    .block_header__right
        flex-grow: 2

        .header__phone
            flex-grow: 2

header-gap = 5px
.header
    gap:header-gap;
    color  white
    padding: $padding 0
   
.header__logo
    justify-content: center
    flex-basis auto
    svg     
        width: 300px
        height: auto
        fill white
        path 
            fill white

.header__address
    flex-basis: auto
    font-size: headerAddress
    font-style: normal;
    font-weight: 500;
    line-height: 1.4em;
    width: 200px;
    
    ul
        li
            line-height: $p5
.header__phone
    flex-basis 60%
    line-height: 1.5em
    font-size: headerPhone

    ul
        li
            line-height: $p5
            &:before
                font-family: fontello
                content: "\eee2";
                margin: 0 15px 0 0;
            a
                font-size: .9em
                font-style: normal
                font-weight 900

.header__callback
    display: flex
    justify-content: center
    align-items: center
    flex-basis auto
    gap 5px
    button
        width 100%



.callback__price
    flex-basis auto
    button  
        background: $red

.callback__callme
    button
        flex-basis auto
        border: 1px $white solid
        background: transparent
        transition: color .3s
        

.callback__price
.callback__callme
    button
        font-weight: 500
        &::after
            content ""
            position absolute
            width 100%
            height 100%
            left 0
            top 100%
            z-index -1
            transition top .3s
            background: red

        &:hover::after 
            top 0

.callback__callme
    button
        &:hover
            color $black
        &::after
            background: $white

@media screen and (max-width: mobile5)

    .block_header__left, .block_header__right
        display: flex
        flex-wrap: wrap

        div
            flex-basis: auto
            flex-grow: 1
            flex-shrink: 1

@media screen and (max-width: mobile4) {}
@media screen and (max-width: mobile3)
    .header__callback
        flex-wrap: wrap
@media screen and (max-width: mobile2)
    .header
        flex-wrap: wrap

// @media screen and (max-width: mobile1)


@media screen and (max-width: mobile) 
    .header__phone
        font-size: .5em;
@media screen and (max-width: mobile0) 
    .header__callback 
        button
            max-width 100%
    .header__logo
        svg     
            width: 180px
    .header__address
    .header__phone
        font-size: .8em


