.map__blocks
    display grid
    grid-template-columns: auto auto;
    justify-content: center
    align-items: center

.map
    .container
        padding-left: 0;
        padding-right:0;

.map__block__geo
    display flex
    justify-content: center
    align-items: center
    flex-basis: auto
    flex-grow: 1
    iframe
        max-width 100%;

@media screen and (max-width: mobile3) /*768px;*/ 
    .map__blocks
        grid-template-columns: auto;
    
    .map__block__geo
        iframe  
            width: (mobile3)
            max-width: 100%;